*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
header{
    width: 100%;
    height: 600px;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fed1f01f, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fcc5eaf1, #74ebd591); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:black;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

.textos-header{
    font-size: 75px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 15px;
}
.Wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.cuerpo{
    background-color: #FED1F0;
}
.contenido1{
        display: flex;
        justify-content: space-evenly;
}

.contenido1 img{
    height: 400px;
    width: 400px;
    margin-left: 80px;
    margin-top: 20px;
   
}

.contenido1 p{
    font-size: 25px;
    margin-left: 50px;
    margin-right: 80px;
    margin-top: 40px;
    text-align: justify;
}

.contenedor2 p{
    margin-left: 80px;
    margin-right: 80px;
    font-size: 25px;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 15px;
}

.contenedor2 h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 50px;
}

.audio{
    margin-left: 80px;
    margin-top: 20px;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;

}

.contenedor-footer{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;

}
.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: #9e9797;

}